body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #434455;
    background-color: #FFF;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
}

.logo {
    color: #4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-part {
    color: #2E2F42;
}

.nav-link {
    color:#2E2F42;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus{
    color: #404BBF;
}

.heder-address {
    font-style: normal;
}

.heder-adresss-list {}

.heder-address-item {}


.heder-address-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.heder-address-link:hover,
.heder-address-link:focus{
    color: #404bbf;
}

.hero {
    background-color: #2E2F42;
}

.hero-title {
    color:#FFF;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    color: #FFF;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4D5AE5;
    cursor: pointer
}

.hero-btn:hover,
.hero-btn:focus {
    color:#FFF;
    background-color:#404BBF;
}

.feature {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.feature-text {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* ---------------------------------------------------- */

.team-section {
    background-color: #F4F4FD;
}

.team-title {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.team-item {
    background-color: #FFFFFF;
}

.name {
    color:#2E2F42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.position {
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer-logo {
    color:#4D5AE5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.footer-color {
    background: #2E2F42;
}

.footer-logo-part {
    color:#F4F4FD;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
}

.footer-text {
    color:#F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;   
}

.portfolio {
    background: #FFF;
}

.portfolio-title {
    color:#2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
}

.portfolio-item {
    color:#2E2F42;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.portfolio-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}